.editor {
  height: 100%;
  width: 100%;
  min-width: 320px;
  padding-bottom: 0;
  margin-bottom: 0;
  transform: all 0.5s;
}

.editor-menu {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #3d3d3f;
  position: relative;
  border-right: 1px solid black;
}

.editor-menu-item {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  padding: 8px 20px;
  cursor: pointer;
}

.is-full-screen-icon {
  justify-self: end;
  position: absolute;
  right: 22px;
}

.full-screen {
  transform: all 0.5s;
  position: fixed;
  top: 0;
  left: 0;
}